{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    <div class="grid-container">
        <section class="grid-x">
        <header class="cell">
            <h1>Welcome to My Blog</h1>
            <hr>
        </header>
    </section>
  
    <section class="grid-x">
        <div class="cell large-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="cell large-4">
            <h3>About Me</h3>
            <p>I am a python developer and i like django</p>
            <h3>Recent Entries</h3>
            {% entry_history %}
        </div>
    </section>
    </div>
</body>
</html>